<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="row content-box justify-content-center">
			<div class="col-md-5">
				<br>
				<img class="img-fluid" style="border-radius:25px; " src="<%=@card.image_url%>">
				<p>&nbsp;</p>
			</div>
			<div class="col-md-5">
				<br>
				<h3><%=@card.name%></h3>
				<br>
				<h4>Type</h4>
				<p><%=@card.card_type%></p>
				<h4>Rules</h4>
				<p><%=@card.rules%></p>
				<% if @card.flavor_text %>
					<h4>Flavor</h4>
					<p><%= @card.flavor_text %></p>
				<% end %>
				<h4>Legalities</h4>
				<% pretty_formats = @card.formats.split.collect{|format| format.capitalize}%>
				<p><%=pretty_formats.join(", ")  %></p>
				<h4>Average Market Price</h4>
				<p>$<%= @card.price %></p>
				<br>
				<%if logged_in?%>
					<a data-toggle="modal" data-target="#addToDeck" class="btn-material-second" href="#">Add card to deck</a>
				<% end %>
			</div>
				
			</div>
			<&nbsp>
		</div>
	</div>
</div>

<!-- MODAL TIME -->
<div class="modal fade" id="addToDeck" tabindex="-1" role="dialog" aria-labelledby="comment" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content content-box">
      <div class="modal-body">
		<div class="container">
			<h4>Add to deck</h4>
			<br>
			<form class="form-group" action="/decks/card/<%=@card.slug%>/add" method="post">
				<div>
					<label>
						<select name="deck" class="custom-select">

							<%current_user.decks.reverse.each do |deck|%>
								<option value="<%=deck.slug%>"><%=deck.name%></option>
							<%end%>
						</select>
						<select class="custom-select" name="location" >
							<option value="main">Main deck</option>
							<option value="side">Sideboard</option>
						</select>
					 </label>
					 <br>
					 <label>Amount</label>
					 <br>
					 <input type="number" style="width: 3em;" value="1" name="quantity" min="1" max="1000">
				</div>
				<br>
				<button class="btn-material-second my-2 my-sm-0" type="submit">Submit</button>
	            <button data-dismiss="modal" class="btn-material my-2 my-sm-0" href="#">Cancel</button>
			</form>
		</div>
      </div>
    </div>
  </div>
</div>
