<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="row content-box">
			<div class="col-md-5">
				<br>
				<img class="img-fluid" style="border-radius:25px; " src="<%=@card.image_url%>">
				<p>&nbsp;</p>
			</div>
			<div class="col-md-5">
				<br>
				<h3><%=@card.name%></h3>
				<br>
				<h4>Type</h4>
				<p><%=@card.card_type%></p>
				<h4>Rules</h4>
				<p><%=@card.rules%></p>
				<% if @card.flavor_text %>
					<h4>Flavor</h4>
					<p><%= @card.flavor_text %></p>
				<% end %>
				<h4>Legalities</h4>
				<% pretty_formats = @card.formats.split.collect{|format| format.capitalize}%>
				<p><%=pretty_formats.join(", ")  %></p>
				<h4>Average Market Price</h4>
				<p>$<%= @card.price %></p>
			</div>

			</div>
		</div>
	</div>
</div>
