
<div class="container hover_img">
	<% @collection.each do |card| %>
		<div style="display: inline;">
			<a  href="/cards/<%= card.slug %>">
				<img class="magic-card-result" src="<%=card.image_url%>"  alt="<%=card.name%>">
				<span><img class="zoom-img" src="<%=card.image_url%>" alt="<%=card%>" height="500" />
				</span>
			</a>
		</div>
	<%end%>
</div>

	<%if @pagination%>
	<br>
		<nav class="navbar navbar-static-bottom navbar-dark bg-dark">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-12">
			<ul class="pagination">
				<%if @prev_page%>
					<li class="page-item">
						<a href="<%=@prev_page%>" class="page-link">Previous</a>
					</li>
				<%end%>
				<% @pagination.each do |number, url| %>
					<%if url == @current_page%>
						<li class="page-item active">
							<a href="/cards/search/<%=url%>" class="page-link"><%= number %></a>
						</li>
					<%else%>
						<li class="page-item">
							<a href="/cards/search/<%=url%>" class="page-link"><%= number %></a>
						</li>
					<%end%>
				<%end%>
				<%if @next_page%>
					<li class="page-item">
						<a href="<%=@next_page%>" class="page-link">Next</a>
					</li>
				<%end%>
			</ul>
				</div>
			</div>
		</div>
		</nav>
	<% end %>

