
<div class="container">
	<% @collection.each do |card| %>
		<div style="display: inline;">
			<a  href="/cards/<%= card.slug %>">
				<img src="<%=card.image_url%>" style="width: 24%; border-radius: 10px; margin: 2px;" alt="<%=card.name%>">
			</a>
		</div>
	<%end%>
</div>

	<%if @pagination%>
	<br>
		<nav class="navbar navbar-static-bottom navbar-dark bg-dark">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6">
			<ul class="pagination">
				<%if @prev_page%>
					<li class="page-item">
						<a href="<%=@prev_page%>" class="page-link">Previous</a>
					</li>
				<%end%>
				<% @pagination.each do |number, url| %>
					<li class="page-item">
						<a href="/cards/search/<%=url%>" class="page-link"><%= number %></a>
					</li>
				<%end%>
				<%if @next_page%>
					<li class="page-item">
						<a href="<%=@next_page%>" class="page-link">Next</a>
					</li>
				<%end%>
			</ul>
				</div>
			</div>
		</div>
		</nav>
	<% end %>

