<body>

	<% @collection.each do |card| %>
		<div style="display: inline;">
			<a  href="/cards/<%= card.slug %>">
				<img src="<%=card.image_url%>" style="width: 33%" alt="<%=card.name%>">
			</a>
		</div>
	<%end%>
	
	<%if @pagination%>
		<% @pagination.each do |number, url| %>
			<a href="/cards/search/<%=url%>" class="btn btn-info" role="button">Page <%= number %></a>
		<%end%>
	<% end %>

</body>