<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-10 content-box">
			<form action="/decks/<%= @deck.slug %>/edit" method="post">
				<div class="row justify-content-center">
					<div class="form-group col-md-10">
						<br>
						<h3>Deck info</h3>
						<br>
						<h4><%=@deck.name%></h4>
						<label>Deck Description</label>
						<textarea class="form-control visible-background" name="description" cols="30" rows="4"><%= @deck.description %></textarea>
						<hr>
						<br>
						<div class="row">
							<div class="col-md-3 mr-auto"><h3>My cards</h3></div>
							<div class="col-md-3 col-auto"> <a href="#" data-toggle="modal" data-target="#search-box" class="btn-material-second">Add by search</a></div>
						</div>
						<div class="row">
						<div class="col-md-6">
							<label for="">Main deck cards</label>
							<textarea class="form-control" name="cards" placeholder="Enter card names here. One card per line." name="" id="" cols="45" rows="10"><%=@deck.list_cards %></textarea>
						</div>
						<div class="col-md-6">
							<label for="">Sideboard cards</label>
							<textarea class="form-control" name="sideboard" placeholder="Enter sideboard card names here. One card per line." name="" id="" cols="46" rows="10"><%=@deck.sideboard.list_cards %></textarea>
						</div>
						</div>
							<div class="col-md-4">
								<br>
								<label for="">Format</label>
								<br>
								<select class="custom-select" name="format">
									<option <%='selected' if @deck.format.include?("casual")%> value="casual">Casual</option>
									<option <%='selected' if @deck.format.include?("standard")%> value="standard">Standard</option>
									<option <%='selected' if @deck.format.include?("modern")%> value="modern">Modern</option>
									<option <%='selected' if @deck.format.include?("legacy")%> value="legacy">Legacy</option>
									<option <%='selected' if @deck.format.include?("edh")%> value="edh">EDH</option>
								</select>
							</div>
							<br>
						<input type="submit" class="btn-material-second" value="Update deck">
						<a class="btn-material" href="/decks/<%=@deck.slug%>">Finish editing</a>
					</div>
				</div>
			</form>
		</div>
	</div>
	<p>&nbsp</p>
</div>

<!-- Create new comment area-->	
<div class="modal fade" id="search-box" tabindex="-1" role="dialog" aria-labelledby="comment" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="">
      <div class="modal-body">

				<div class="container">
					<div class="row justify-content-center content-box">
						<div class="col-md-10">
							<div class="row justify-content-center">
								<div class="col-md-10">
							<form method="post" action="/cards/search">
									<br>
									<label>Card Search</label><input name="query" class="form-control" placeholder="Card Name" type="text">
										<br>
									<div class="form-check form-check-inline">
										<label>Color identity</label>
										<br>
										<label class="form-check-label">
											<input class="form-check-input" type= "checkbox" name="color[]" value="w"> White 
										</label>
										<label class="form-check-label"> 
											<input class="form-check-input" type="checkbox" name="color[]" value="u"> Blue
										</label>
										<label class="form-check-label">
											<input class="form-check-input" type="checkbox" name="color[]" value="b"> Black
										</label>
										<label class="form-check-label">
											<input class="form-check-input" type="checkbox" name="color[]" value="r"> Red
										</label>
										<label class="form-check-label"> 
											<input class="form-check-input" type="checkbox" name="color[]" value="g"> Green
										</label>
										<label class="form-check-label"> 
											<input class="form-check-input" type="checkbox" name="color[]" value="m"> Multicolor
										</label>
										<label class="form-check-label"> 
											<input class="form-check-input" type="checkbox" name="color[]" value="del"> Exclude other colors
										</label>
									</div>
									<br>
									<br>
									<label>Set</label>
									<input list="set" class="form-control" placeholder="Begin typing or choose a set name" name="set">
										<datalist id="set">
											<option value="htr">2016 Heroes of the Realm (HTR)</option>
											<option value="aer">Aether Revolt (AER)</option>
											<option value="paer">Aether Revolt Promos (PAER)</option>
											<option value="taer">Aether Revolt Tokens (TAER)</option>
											<option value="arb">Alara Reborn (ARB)</option>
											<option value="tarb">Alara Reborn Tokens (TARB)</option>
											<option value="all">Alliances (ALL)</option>
											<option value="akh">Amonkhet (AKH)</option>
											<option value="mp2">Amonkhet Invocations (MP2)</option>
											<option value="pakh">Amonkhet Promos (PAKH)</option>
											<option value="takh">Amonkhet Tokens (TAKH)</option>
											<option value="ath">Anthologies (ATH)</option>
											<option value="atq">Antiquities (ATQ)</option>
											<option value="apc">Apocalypse (APC)</option>
											<option value="arn">Arabian Nights (ARN)</option>
											<option value="arc">Archenemy (ARC)</option>
											<option value="e01">Archenemy: Nicol Bolas (E01)</option>
											<option value="te01">Archenemy: Nicol Bolas Tokens (TE01)</option>
											<option value="parl">Arena League 1996 (PARL)</option>
											<option value="pal99">Arena League 1999 (PAL99)</option>
											<option value="pal00">Arena League 2000 (PAL00)</option>
											<option value="pal01">Arena League 2001 (PAL01)</option>
											<option value="pal02">Arena League 2002 (PAL02)</option>
											<option value="pal03">Arena League 2003 (PAL03)</option>
											<option value="pal04">Arena League 2004 (PAL04)</option>
											<option value="pal05">Arena League 2005 (PAL05)</option>
											<option value="pal06">Arena League 2006 (PAL06)</option>
											<option value="palp">Asia Pacific Land Program (PALP)</option>
											<option value="avr">Avacyn Restored (AVR)</option>
											<option value="pavr">Avacyn Restored Promos (PAVR)</option>
											<option value="tavr">Avacyn Restored Tokens (TAVR)</option>
											<option value="bfz">Battle for Zendikar (BFZ)</option>
											<option value="pbfz">Battle for Zendikar Promos (PBFZ)</option>
											<option value="tbfz">Battle for Zendikar Tokens (TBFZ)</option>
											<option value="brb">Battle Royale Box Set (BRB)</option>
											<option value="tbth">Battle the Horde (TBTH)</option>
											<option value="btd">Beatdown Box Set (BTD)</option>
											<option value="bok">Betrayers of Kamigawa (BOK)</option>
											<option value="pss1">BFZ Standard Series (PSS1)</option>
											<option value="bng">Born of the Gods (BNG)</option>
											<option value="thp2">Born of the Gods Hero&#39;s Path (THP2)</option>
											<option value="pbng">Born of the Gods Promos (PBNG)</option>
											<option value="tbng">Born of the Gods Tokens (TBNG)</option>
											<option value="pcel">Celebration Cards (PCEL)</option>
											<option value="chk">Champions of Kamigawa (CHK)</option>
											<option value="pcmp">Champs and States (PCMP)</option>
											<option value="chr">Chronicles (CHR)</option>
											<option value="6ed">Classic Sixth Edition (6ED)</option>
											<option value="csp">Coldsnap (CSP)</option>
											<option value="cst">Coldsnap Theme Decks (CST)</option>
											<option value="tcsp">Coldsnap Tokens (TCSP)</option>
											<option value="ced">Collector’s Edition (CED)</option>
											<option value="cmd">Commander 2011 (CMD)</option>
											<option value="c13">Commander 2013 (C13)</option>
											<option value="tc13">Commander 2013 Tokens (TC13)</option>
											<option value="c14">Commander 2014 (C14)</option>
											<option value="tc14">Commander 2014 Tokens (TC14)</option>
											<option value="c15">Commander 2015 (C15)</option>
											<option value="tc15">Commander 2015 Tokens (TC15)</option>
											<option value="c16">Commander 2016 (C16)</option>
											<option value="tc16">Commander 2016 Tokens (TC16)</option>
											<option value="c17">Commander 2017 (C17)</option>
											<option value="tc17">Commander 2017 Tokens (TC17)</option>
											<option value="cma">Commander Anthology (CMA)</option>
											<option value="cm1">Commander&#39;s Arsenal (CM1)</option>
											<option value="con">Conflux (CON)</option>
											<option value="tcon">Conflux Tokens (TCON)</option>
											<option value="cns">Conspiracy (CNS)</option>
											<option value="cn2">Conspiracy: Take the Crown (CN2)</option>
											<option value="tcn2">Conspiracy: Take the Crown Tokens (TCN2)</option>
											<option value="tcns">Conspiracy Tokens (TCNS)</option>
											<option value="dka">Dark Ascension (DKA)</option>
											<option value="pdka">Dark Ascension Promos (PDKA)</option>
											<option value="tdka">Dark Ascension Tokens (TDKA)</option>
											<option value="dst">Darksteel (DST)</option>
											<option value="plgm">DCI Legend Membership (PLGM)</option>
											<option value="dkm">Deckmasters (DKM)</option>
											<option value="tdag">Defeat a God (TDAG)</option>
											<option value="dis">Dissension (DIS)</option>
											<option value="pdrc">Dragon Con (PDRC)</option>
											<option value="dgm">Dragon&#39;s Maze (DGM)</option>
											<option value="pdgm">Dragon&#39;s Maze Promos (PDGM)</option>
											<option value="tdgm">Dragon&#39;s Maze Tokens (TDGM)</option>
											<option value="dtk">Dragons of Tarkir (DTK)</option>
											<option value="pdtk">Dragons of Tarkir Promos (PDTK)</option>
											<option value="tdtk">Dragons of Tarkir Tokens (TDTK)</option>
											<option value="ddh">Duel Decks: Ajani vs. Nicol Bolas (DDH)</option>
											<option value="tddh">Duel Decks: Ajani vs. Nicol Bolas Tokens (TDDH)</option>
											<option value="dvd">Duel Decks Anthology: Divine vs. Demonic (DVD)</option>
											<option value="evg">Duel Decks Anthology: Elves vs. Goblins (EVG)</option>
											<option value="tevg">Duel Decks Anthology: Elves vs. Goblins Tokens (TEVG)</option>
											<option value="gvl">Duel Decks Anthology: Garruk vs. Liliana (GVL)</option>
											<option value="jvc">Duel Decks Anthology: Jace vs. Chandra (JVC)</option>
											<option value="ddq">Duel Decks: Blessed vs. Cursed (DDQ)</option>
											<option value="ddc">Duel Decks: Divine vs. Demonic (DDC)</option>
											<option value="tddc">Duel Decks: Divine vs. Demonic Tokens (TDDC)</option>
											<option value="ddo">Duel Decks: Elspeth vs. Kiora (DDO)</option>
											<option value="ddf">Duel Decks: Elspeth vs. Tezzeret (DDF)</option>
											<option value="tddf">Duel Decks: Elspeth vs. Tezzeret Tokens (TDDF)</option>
											<option value="dd1">Duel Decks: Elves vs. Goblins (DD1)</option>
											<option value="ddd">Duel Decks: Garruk vs. Liliana (DDD)</option>
											<option value="tddd">Duel Decks: Garruk vs. Liliana Tokens (TDDD)</option>
											<option value="ddl">Duel Decks: Heroes vs. Monsters (DDL)</option>
											<option value="tddl">Duel Decks: Heroes vs. Monsters Tokens (TDDL)</option>
											<option value="ddj">Duel Decks: Izzet vs. Golgari (DDJ)</option>
											<option value="tddj">Duel Decks: Izzet vs. Golgari Tokens (TDDJ)</option>
											<option value="dd2">Duel Decks: Jace vs. Chandra (DD2)</option>
											<option value="pdd2">Duel Decks: Jace vs. Chandra Japanese Promos (PDD2)</option>
											<option value="tdd2">Duel Decks: Jace vs. Chandra Tokens (TDD2)</option>
											<option value="ddm">Duel Decks: Jace vs. Vraska (DDM)</option>
											<option value="tddm">Duel Decks: Jace vs. Vraska Tokens (TDDM)</option>
											<option value="ddg">Duel Decks: Knights vs. Dragons (DDG)</option>
											<option value="tddg">Duel Decks: Knights vs. Dragons Tokens (TDDG)</option>
											<option value="dds">Duel Decks: Mind vs. Might (DDS)</option>
											<option value="tdds">Duel Decks: Mind vs. Might Tokens (TDDS)</option>
											<option value="td2">Duel Decks: Mirrodin Pure vs. New Phyrexia (TD2)</option>
											<option value="ddr">Duel Decks: Nissa vs. Ob Nixilis (DDR)</option>
											<option value="dde">Duel Decks: Phyrexia vs. the Coalition (DDE)</option>
											<option value="tdde">Duel Decks: Phyrexia vs. the Coalition Tokens (TDDE)</option>
											<option value="ddk">Duel Decks: Sorin vs. Tibalt (DDK)</option>
											<option value="tddk">Duel Decks: Sorin vs. Tibalt Tokens (TDDK)</option>
											<option value="ddn">Duel Decks: Speed vs. Cunning (DDN)</option>
											<option value="tddn">Duel Decks: Speed vs. Cunning Tokens (TDDN)</option>
											<option value="ddi">Duel Decks: Venser vs. Koth (DDI)</option>
											<option value="tddi">Duel Decks: Venser vs. Koth Tokens (TDDI)</option>
											<option value="ddp">Duel Decks: Zendikar vs. Eldrazi (DDP)</option>
											<option value="dpa">Duels of the Planeswalkers (DPA)</option>
											<option value="pdtp">Duels of the Planeswalkers Promos 2009 (PDTP)</option>
											<option value="pdp10">Duels of the Planeswalkers Promos 2010 (PDP10)</option>
											<option value="pdp11">Duels of the Planeswalkers Promos 2011 (PDP11)</option>
											<option value="pdp12">Duels of the Planeswalkers Promos 2012 (PDP12)</option>
											<option value="pdp13">Duels of the Planeswalkers Promos 2013 (PDP13)</option>
											<option value="pdp14">Duels of the Planeswalkers Promos 2014 (PDP14)</option>
											<option value="8ed">Eighth Edition (8ED)</option>
											<option value="emn">Eldritch Moon (EMN)</option>
											<option value="pemn">Eldritch Moon Promos (PEMN)</option>
											<option value="temn">Eldritch Moon Tokens (TEMN)</option>
											<option value="ema">Eternal Masters (EMA)</option>
											<option value="tema">Eternal Masters Tokens (TEMA)</option>
											<option value="pelp">European Land Program (PELP)</option>
											<option value="eve">Eventide (EVE)</option>
											<option value="teve">Eventide Tokens (TEVE)</option>
											<option value="exo">Exodus (EXO)</option>
											<option value="tfth">Face the Hydra (TFTH)</option>
											<option value="fem">Fallen Empires (FEM)</option>
											<option value="frf">Fate Reforged (FRF)</option>
											<option value="cp2">Fate Reforged Clash Pack (CP2)</option>
											<option value="pfrf">Fate Reforged Promos (PFRF)</option>
											<option value="tfrf">Fate Reforged Tokens (TFRF)</option>
											<option value="5dn">Fifth Dawn (5DN)</option>
											<option value="5ed">Fifth Edition (5ED)</option>
											<option value="4ed">Fourth Edition (4ED)</option>
											<option value="fnm">Friday Night Magic 2000 (FNM)</option>
											<option value="f01">Friday Night Magic 2001 (F01)</option>
											<option value="f02">Friday Night Magic 2002 (F02)</option>
											<option value="f03">Friday Night Magic 2003 (F03)</option>
											<option value="f04">Friday Night Magic 2004 (F04)</option>
											<option value="f05">Friday Night Magic 2005 (F05)</option>
											<option value="f06">Friday Night Magic 2006 (F06)</option>
											<option value="f07">Friday Night Magic 2007 (F07)</option>
											<option value="f08">Friday Night Magic 2008 (F08)</option>
											<option value="f09">Friday Night Magic 2009 (F09)</option>
											<option value="f10">Friday Night Magic 2010 (F10)</option>
											<option value="f11">Friday Night Magic 2011 (F11)</option>
											<option value="f12">Friday Night Magic 2012 (F12)</option>
											<option value="f13">Friday Night Magic 2013 (F13)</option>
											<option value="f14">Friday Night Magic 2014 (F14)</option>
											<option value="f15">Friday Night Magic 2015 (F15)</option>
											<option value="f16">Friday Night Magic 2016 (F16)</option>
											<option value="f17">Friday Night Magic 2017 (F17)</option>
											<option value="v15">From the Vault: Angels (V15)</option>
											<option value="v14">From the Vault: Annihilation (V14)</option>
											<option value="drb">From the Vault: Dragons (DRB)</option>
											<option value="v09">From the Vault: Exiled (V09)</option>
											<option value="v11">From the Vault: Legends (V11)</option>
											<option value="v16">From the Vault: Lore (V16)</option>
											<option value="v12">From the Vault: Realms (V12)</option>
											<option value="v10">From the Vault: Relics (V10)</option>
											<option value="v13">From the Vault: Twenty (V13)</option>
											<option value="fut">Future Sight (FUT)</option>
											<option value="gtc">Gatecrash (GTC)</option>
											<option value="pgtc">Gatecrash Promos (PGTC)</option>
											<option value="tgtc">Gatecrash Tokens (TGTC)</option>
											<option value="pgtw">Gateway 2006 (PGTW)</option>
											<option value="pg07">Gateway 2007 (PG07)</option>
											<option value="pg08">Gateway 2008 (PG08)</option>
											<option value="pgmx">Gleemax Project (PGMX)</option>
											<option value="pgpx">Grand Prix Promos (PGPX)</option>
											<option value="gpt">Guildpact (GPT)</option>
											<option value="pgru">Guru (PGRU)</option>
											<option value="phuk">Hachette UK (PHUK)</option>
											<option value="hho">Happy Holidays (HHO)</option>
											<option value="phpr">HarperPrism Book Promos (PHPR)</option>
											<option value="h17">HasCon 2017 (H17)</option>
											<option value="hml">Homelands (HML)</option>
											<option value="hou">Hour of Devastation (HOU)</option>
											<option value="phou">Hour of Devastation Promos (PHOU)</option>
											<option value="thou">Hour of Devastation Tokens (THOU)</option>
											<option value="ice">Ice Age (ICE)</option>
											<option value="ima">Iconic Masters (IMA)</option>
											<option value="pidw">IDW Comics 2012 (PIDW)</option>
											<option value="pi13">IDW Comics 2013 (PI13)</option>
											<option value="pi14">IDW Comics 2014 (PI14)</option>
											<option value="isd">Innistrad (ISD)</option>
											<option value="pisd">Innistrad Promos (PISD)</option>
											<option value="tisd">Innistrad Tokens (TISD)</option>
											<option value="cei">Intl. Collector’s Edition (CEI)</option>
											<option value="itp">Introductory Two-Player Set (ITP)</option>
											<option value="inv">Invasion (INV)</option>
											<option value="xln">Ixalan (XLN)</option>
											<option value="pxln">Ixalan Promos (PXLN)</option>
											<option value="txln">Ixalan Tokens (TXLN)</option>
											<option value="jou">Journey into Nyx (JOU)</option>
											<option value="thp3">Journey into Nyx Hero&#39;s Path (THP3)</option>
											<option value="pjou">Journey into Nyx Promos (PJOU)</option>
											<option value="tjou">Journey into Nyx Tokens (TJOU)</option>
											<option value="jgp">Judge Gift Cards 1998 (JGP)</option>
											<option value="g99">Judge Gift Cards 1999 (G99)</option>
											<option value="g00">Judge Gift Cards 2000 (G00)</option>
											<option value="g01">Judge Gift Cards 2001 (G01)</option>
											<option value="g02">Judge Gift Cards 2002 (G02)</option>
											<option value="g03">Judge Gift Cards 2003 (G03)</option>
											<option value="g04">Judge Gift Cards 2004 (G04)</option>
											<option value="g05">Judge Gift Cards 2005 (G05)</option>
											<option value="g06">Judge Gift Cards 2006 (G06)</option>
											<option value="g07">Judge Gift Cards 2007 (G07)</option>
											<option value="g08">Judge Gift Cards 2008 (G08)</option>
											<option value="g09">Judge Gift Cards 2009 (G09)</option>
											<option value="g10">Judge Gift Cards 2010 (G10)</option>
											<option value="g11">Judge Gift Cards 2011 (G11)</option>
											<option value="j12">Judge Gift Cards 2012 (J12)</option>
											<option value="j13">Judge Gift Cards 2013 (J13)</option>
											<option value="j14">Judge Gift Cards 2014 (J14)</option>
											<option value="j15">Judge Gift Cards 2015 (J15)</option>
											<option value="j16">Judge Gift Cards 2016 (J16)</option>
											<option value="j17">Judge Gift Cards 2017 (J17)</option>
											<option value="jud">Judgment (JUD)</option>
											<option value="pjas">Junior APAC Series (PJAS)</option>
											<option value="pjse">Junior Series Europe (PJSE)</option>
											<option value="psus">Junior Super Series (PSUS)</option>
											<option value="kld">Kaladesh (KLD)</option>
											<option value="mps">Kaladesh Inventions (MPS)</option>
											<option value="pkld">Kaladesh Promos (PKLD)</option>
											<option value="tkld">Kaladesh Tokens (TKLD)</option>
											<option value="ktk">Khans of Tarkir (KTK)</option>
											<option value="pktk">Khans of Tarkir Promos (PKTK)</option>
											<option value="tktk">Khans of Tarkir Tokens (TKTK)</option>
											<option value="plpa">Launch Parties (PLPA)</option>
											<option value="ltk">League Tokens (LTK)</option>
											<option value="l12">League Tokens 2012 (L12)</option>
											<option value="l13">League Tokens 2013 (L13)</option>
											<option value="l14">League Tokens 2014 (L14)</option>
											<option value="l15">League Tokens 2015 (L15)</option>
											<option value="l16">League Tokens 2016 (L16)</option>
											<option value="l17">League Tokens 2017 (L17)</option>
											<option value="pz1">Legendary Cube (PZ1)</option>
											<option value="leg">Legends (LEG)</option>
											<option value="lgn">Legions (LGN)</option>
											<option value="lea">Limited Edition Alpha (LEA)</option>
											<option value="leb">Limited Edition Beta (LEB)</option>
											<option value="lrw">Lorwyn (LRW)</option>
											<option value="tlrw">Lorwyn Tokens (TLRW)</option>
											<option value="pmei">Magazine Inserts (PMEI)</option>
											<option value="m10">Magic 2010 (M10)</option>
											<option value="pm10">Magic 2010 Promos (PM10)</option>
											<option value="tm10">Magic 2010 Tokens (TM10)</option>
											<option value="m11">Magic 2011 (M11)</option>
											<option value="pm11">Magic 2011 Promos (PM11)</option>
											<option value="tm11">Magic 2011 Tokens (TM11)</option>
											<option value="m12">Magic 2012 (M12)</option>
											<option value="pm12">Magic 2012 Promos (PM12)</option>
											<option value="tm12">Magic 2012 Tokens (TM12)</option>
											<option value="m13">Magic 2013 (M13)</option>
											<option value="pm13">Magic 2013 Promos (PM13)</option>
											<option value="tm13">Magic 2013 Tokens (TM13)</option>
											<option value="m14">Magic 2014 (M14)</option>
											<option value="pm14">Magic 2014 Promos (PM14)</option>
											<option value="tm14">Magic 2014 Tokens (TM14)</option>
											<option value="m15">Magic 2015 (M15)</option>
											<option value="cp1">Magic 2015 Clash Pack (CP1)</option>
											<option value="pm15">Magic 2015 Promos (PM15)</option>
											<option value="tm15">Magic 2015 Tokens (TM15)</option>
											<option value="prm">Magic Online Promos (PRM)</option>
											<option value="td0">Magic Online Theme Decks (TD0)</option>
											<option value="ori">Magic Origins (ORI)</option>
											<option value="cp3">Magic Origins Clash Pack (CP3)</option>
											<option value="pori">Magic Origins Promos (PORI)</option>
											<option value="tori">Magic Origins Tokens (TORI)</option>
											<option value="mpr">Magic Player Rewards 2001 (MPR)</option>
											<option value="pr2">Magic Player Rewards 2002 (PR2)</option>
											<option value="p03">Magic Player Rewards 2003 (P03)</option>
											<option value="p04">Magic Player Rewards 2004 (P04)</option>
											<option value="p05">Magic Player Rewards 2005 (P05)</option>
											<option value="p06">Magic Player Rewards 2006 (P06)</option>
											<option value="p07">Magic Player Rewards 2007 (P07)</option>
											<option value="p08">Magic Player Rewards 2008 (P08)</option>
											<option value="p09">Magic Player Rewards 2009 (P09)</option>
											<option value="p10">Magic Player Rewards 2010 (P10)</option>
											<option value="p11">Magic Player Rewards 2011 (P11)</option>
											<option value="med">Masters Edition (MED)</option>
											<option value="me2">Masters Edition II (ME2)</option>
											<option value="me3">Masters Edition III (ME3)</option>
											<option value="me4">Masters Edition IV (ME4)</option>
											<option value="mmq">Mercadian Masques (MMQ)</option>
											<option value="mir">Mirage (MIR)</option>
											<option value="mrd">Mirrodin (MRD)</option>
											<option value="mbs">Mirrodin Besieged (MBS)</option>
											<option value="pmbs">Mirrodin Besieged Promos (PMBS)</option>
											<option value="tmbs">Mirrodin Besieged Tokens (TMBS)</option>
											<option value="pbok">Miscellaneous Book Promos (PBOK)</option>
											<option value="md1">Modern Event Deck 2014 (MD1)</option>
											<option value="tmd1">Modern Event Deck 2014 Tokens (TMD1)</option>
											<option value="mma">Modern Masters (MMA)</option>
											<option value="mm2">Modern Masters 2015 (MM2)</option>
											<option value="tmm2">Modern Masters 2015 Tokens (TMM2)</option>
											<option value="mm3">Modern Masters 2017 (MM3)</option>
											<option value="tmm3">Modern Masters 2017 Tokens (TMM3)</option>
											<option value="tmma">Modern Masters Tokens (TMMA)</option>
											<option value="mor">Morningtide (MOR)</option>
											<option value="tmor">Morningtide Tokens (TMOR)</option>
											<option value="mgb">Multiverse Gift Box (MGB)</option>
											<option value="nem">Nemesis (NEM)</option>
											<option value="nph">New Phyrexia (NPH)</option>
											<option value="pnph">New Phyrexia Promos (PNPH)</option>
											<option value="tnph">New Phyrexia Tokens (TNPH)</option>
											<option value="9ed">Ninth Edition (9ED)</option>
											<option value="ogw">Oath of the Gatewatch (OGW)</option>
											<option value="pogw">Oath of the Gatewatch Promos (POGW)</option>
											<option value="togw">Oath of the Gatewatch Tokens (TOGW)</option>
											<option value="ody">Odyssey (ODY)</option>
											<option value="ons">Onslaught (ONS)</option>
											<option value="plc">Planar Chaos (PLC)</option>
											<option value="hop">Planechase (HOP)</option>
											<option value="pc2">Planechase 2012 (PC2)</option>
											<option value="pca">Planechase Anthology (PCA)</option>
											<option value="tpca">Planechase Anthology Tokens (TPCA)</option>
											<option value="pls">Planeshift (PLS)</option>
											<option value="por">Portal (POR)</option>
											<option value="ppod">Portal Demo Game (PPOD)</option>
											<option value="p02">Portal: Second Age (P02)</option>
											<option value="ptk">Portal: Three Kingdoms (PTK)</option>
											<option value="pd2">Premium Deck Series: Fire and Lightning (PD2)</option>
											<option value="pd3">Premium Deck Series: Graveborn (PD3)</option>
											<option value="h09">Premium Deck Series: Slivers (H09)</option>
											<option value="ppre">Prerelease Events (PPRE)</option>
											<option value="phop">Promotional Planes (PHOP)</option>
											<option value="parc">Promotional Schemes (PARC)</option>
											<option value="pcy">Prophecy (PCY)</option>
											<option value="ppro">Pro Tour Promos (PPRO)</option>
											<option value="rav">Ravnica: City of Guilds (RAV)</option>
											<option value="prel">Release Events (PREL)</option>
											<option value="pres">Resale Promos (PRES)</option>
											<option value="rtr">Return to Ravnica (RTR)</option>
											<option value="prtr">Return to Ravnica Promos (PRTR)</option>
											<option value="trtr">Return to Ravnica Tokens (TRTR)</option>
											<option value="3ed">Revised Edition (3ED)</option>
											<option value="roe">Rise of the Eldrazi (ROE)</option>
											<option value="proe">Rise of the Eldrazi Promos (PROE)</option>
											<option value="troe">Rise of the Eldrazi Tokens (TROE)</option>
											<option value="rqs">Rivals Quick Start Set (RQS)</option>
											<option value="psdc">San Diego Comic-Con 2013 (PSDC)</option>
											<option value="ps14">San Diego Comic-Con 2014 (PS14)</option>
											<option value="ps15">San Diego Comic-Con 2015 (PS15)</option>
											<option value="ps16">San Diego Comic-Con 2016 (PS16)</option>
											<option value="ps17">San Diego Comic-Con 2017 (PS17)</option>
											<option value="sok">Saviors of Kamigawa (SOK)</option>
											<option value="som">Scars of Mirrodin (SOM)</option>
											<option value="psom">Scars of Mirrodin Promos (PSOM)</option>
											<option value="tsom">Scars of Mirrodin Tokens (TSOM)</option>
											<option value="scg">Scourge (SCG)</option>
											<option value="7ed">Seventh Edition (7ED)</option>
											<option value="shm">Shadowmoor (SHM)</option>
											<option value="tshm">Shadowmoor Tokens (TSHM)</option>
											<option value="soi">Shadows over Innistrad (SOI)</option>
											<option value="psoi">Shadows over Innistrad Promos (PSOI)</option>
											<option value="tsoi">Shadows over Innistrad Tokens (TSOI)</option>
											<option value="ala">Shards of Alara (ALA)</option>
											<option value="tala">Shards of Alara Tokens (TALA)</option>
											<option value="s99">Starter 1999 (S99)</option>
											<option value="s00">Starter 2000 (S00)</option>
											<option value="sth">Stronghold (STH)</option>
											<option value="sum">Summer Magic / Edgar (SUM)</option>
											<option value="psum">Summer of Magic (PSUM)</option>
											<option value="tmp">Tempest (TMP)</option>
											<option value="tpr">Tempest Remastered (TPR)</option>
											<option value="10e">Tenth Edition (10E)</option>
											<option value="p10e">Tenth Edition Promos (P10E)</option>
											<option value="t10e">Tenth Edition Tokens (T10E)</option>
											<option value="drk">The Dark (DRK)</option>
											<option value="ths">Theros (THS)</option>
											<option value="thp1">Theros Hero&#39;s Path (THP1)</option>
											<option value="pths">Theros Promos (PTHS)</option>
											<option value="tths">Theros Tokens (TTHS)</option>
											<option value="tsp">Time Spiral (TSP)</option>
											<option value="tsb">Time Spiral Timeshifted (TSB)</option>
											<option value="tor">Torment (TOR)</option>
											<option value="p2hg">Two-Headed Giant Tournament (P2HG)</option>
											<option value="ugin">Ugin&#39;s Fate (UGIN)</option>
											<option value="ugl">Unglued (UGL)</option>
											<option value="tugl">Unglued Tokens (TUGL)</option>
											<option value="unh">Unhinged (UNH)</option>
											<option value="2ed">Unlimited Edition (2ED)</option>
											<option value="ust">Unstable (UST)</option>
											<option value="purl">URL/Convention Promos (PURL)</option>
											<option value="uds">Urza&#39;s Destiny (UDS)</option>
											<option value="ulg">Urza&#39;s Legacy (ULG)</option>
											<option value="usg">Urza&#39;s Saga (USG)</option>
											<option value="pvan">Vanguard Series (PVAN)</option>
											<option value="vma">Vintage Masters (VMA)</option>
											<option value="tvma">Vintage Masters Tokens (TVMA)</option>
											<option value="vis">Visions (VIS)</option>
											<option value="wth">Weatherlight (WTH)</option>
											<option value="w16">Welcome Deck 2016 (W16)</option>
											<option value="w17">Welcome Deck 2017 (W17)</option>
											<option value="pwos">Wizards of the Coast Online Store (PWOS)</option>
											<option value="pwpn">Wizards Play Network 2008 (PWPN)</option>
											<option value="pwp09">Wizards Play Network 2009 (PWP09)</option>
											<option value="pwp10">Wizards Play Network 2010 (PWP10)</option>
											<option value="pwp11">Wizards Play Network 2011 (PWP11)</option>
											<option value="pwp12">Wizards Play Network 2012 (PWP12)</option>
											<option value="pwcq">World Magic Cup Qualifiers (PWCQ)</option>
											<option value="pwor">Worlds (PWOR)</option>
											<option value="wwk">Worldwake (WWK)</option>
											<option value="pwwk">Worldwake Promos (PWWK)</option>
											<option value="twwk">Worldwake Tokens (TWWK)</option>
											<option value="pss2">XLN Standard Showdown (PSS2)</option>
											<option value="pz2">You Make the Cube (PZ2)</option>
											<option value="zen">Zendikar (ZEN)</option>
											<option value="exp">Zendikar Expeditions (EXP)</option>
											<option value="pzen">Zendikar Promos (PZEN)</option>
											<option value="tzen">Zendikar Tokens (TZEN)</option>
										</datalist>
									<br>
									<label>Type Line</label>
									<input list="type_line" class="form-control" placeholder="Begin typing or choose a card type" name="type_line">
										<datalist id="type_line" placeholder="Card Type" >
											<option value="aetherborn">Aetherborn</option>
											<option value="ajani">Ajani</option>
											<option value="ally">Ally</option>
											<option value="angel">Angel</option>
											<option value="antelope">Antelope</option>
											<option value="ape">Ape</option>
											<option value="arcane">Arcane</option>
											<option value="archer">Archer</option>
											<option value="archon">Archon</option>
											<option value="arlinn">Arlinn</option>
											<option value="artifact">Artifact</option>
											<option value="artificer">Artificer</option>
											<option value="ashiok">Ashiok</option>
											<option value="assassin">Assassin</option>
											<option value="assembly-worker">Assembly Worker</option>
											<option value="atog">Atog</option>
											<option value="aura">Aura</option>
											<option value="aurochs">Aurochs</option>
											<option value="avatar">Avatar</option>
											<option value="badger">Badger</option>
											<option value="barbarian">Barbarian</option>
											<option value="basic">Basic</option>
											<option value="basilisk">Basilisk</option>
											<option value="bat">Bat</option>
											<option value="bear">Bear</option>
											<option value="beast">Beast</option>
											<option value="beeble">Beeble</option>
											<option value="berserker">Berserker</option>
											<option value="bird">Bird</option>
											<option value="blinkmoth">Blinkmoth</option>
											<option value="boar">Boar</option>
											<option value="bolas">Bolas</option>
											<option value="bringer">Bringer</option>
											<option value="brushwagg">Brushwagg</option>
											<option value="camarid">Camarid</option>
											<option value="camel">Camel</option>
											<option value="caribou">Caribou</option>
											<option value="carrier">Carrier</option>
											<option value="cartouche">Cartouche</option>
											<option value="cat">Cat</option>
											<option value="centaur">Centaur</option>
											<option value="cephalid">Cephalid</option>
											<option value="chandra">Chandra</option>
											<option value="chimera">Chimera</option>
											<option value="citizen">Citizen</option>
											<option value="cleric">Cleric</option>
											<option value="clue">Clue</option>
											<option value="cockatrice">Cockatrice</option>
											<option value="conspiracy">Conspiracy</option>
											<option value="construct">Construct</option>
											<option value="coward">Coward</option>
											<option value="crab">Crab</option>
											<option value="creature">Creature</option>
											<option value="crocodile">Crocodile</option>
											<option value="curse">Curse</option>
											<option value="cyclops">Cyclops</option>
											<option value="dack">Dack</option>
											<option value="daretti">Daretti</option>
											<option value="dauthi">Dauthi</option>
											<option value="demon">Demon</option>
											<option value="desert">Desert</option>
											<option value="deserter">Deserter</option>
											<option value="devil">Devil</option>
											<option value="dinosaur">Dinosaur</option>
											<option value="djinn">Djinn</option>
											<option value="domri">Domri</option>
											<option value="dovin">Dovin</option>
											<option value="dragon">Dragon</option>
											<option value="drake">Drake</option>
											<option value="dreadnought">Dreadnought</option>
											<option value="drone">Drone</option>
											<option value="druid">Druid</option>
											<option value="dryad">Dryad</option>
											<option value="dungeon">Dungeon</option>
											<option value="dwarf">Dwarf</option>
											<option value="efreet">Efreet</option>
											<option value="elder">Elder</option>
											<option value="eldrazi">Eldrazi</option>
											<option value="elemental">Elemental</option>
											<option value="elephant">Elephant</option>
											<option value="elf">Elf</option>
											<option value="elite">Elite</option>
											<option value="elk">Elk</option>
											<option value="elspeth">Elspeth</option>
											<option value="emblem">Emblem</option>
											<option value="enchantment">Enchantment</option>
											<option value="equipment">Equipment</option>
											<option value="eye">Eye</option>
											<option value="faerie">Faerie</option>
											<option value="ferret">Ferret</option>
											<option value="fish">Fish</option>
											<option value="flagbearer">Flagbearer</option>
											<option value="forest">Forest</option>
											<option value="fortification">Fortification</option>
											<option value="fox">Fox</option>
											<option value="freyalise">Freyalise</option>
											<option value="frog">Frog</option>
											<option value="fungus">Fungus</option>
											<option value="gargoyle">Gargoyle</option>
											<option value="garruk">Garruk</option>
											<option value="gate">Gate</option>
											<option value="germ">Germ</option>
											<option value="giant">Giant</option>
											<option value="gideon">Gideon</option>
											<option value="gnome">Gnome</option>
											<option value="goat">Goat</option>
											<option value="goblin">Goblin</option>
											<option value="god">God</option>
											<option value="golem">Golem</option>
											<option value="gorgon">Gorgon</option>
											<option value="graveborn">Graveborn</option>
											<option value="gremlin">Gremlin</option>
											<option value="griffin">Griffin</option>
											<option value="hag">Hag</option>
											<option value="harpy">Harpy</option>
											<option value="head">Head</option>
											<option value="hellion">Hellion</option>
											<option value="hero">Hero</option>
											<option value="hippo">Hippo</option>
											<option value="hippogriff">Hippogriff</option>
											<option value="homarid">Homarid</option>
											<option value="homunculus">Homunculus</option>
											<option value="hornet">Hornet</option>
											<option value="horror">Horror</option>
											<option value="horse">Horse</option>
											<option value="hound">Hound</option>
											<option value="huatli">Huatli</option>
											<option value="human">Human</option>
											<option value="hydra">Hydra</option>
											<option value="hyena">Hyena</option>
											<option value="illusion">Illusion</option>
											<option value="imp">Imp</option>
											<option value="incarnation">Incarnation</option>
											<option value="insect">Insect</option>
											<option value="instant">Instant</option>
											<option value="island">Island</option>
											<option value="jace">Jace</option>
											<option value="jackal">Jackal</option>
											<option value="jellyfish">Jellyfish</option>
											<option value="juggernaut">Juggernaut</option>
											<option value="karn">Karn</option>
											<option value="kavu">Kavu</option>
											<option value="kaya">Kaya</option>
											<option value="kiora">Kiora</option>
											<option value="kirin">Kirin</option>
											<option value="kithkin">Kithkin</option>
											<option value="knight">Knight</option>
											<option value="kobold">Kobold</option>
											<option value="kor">Kor</option>
											<option value="koth">Koth</option>
											<option value="kraken">Kraken</option>
											<option value="lair">Lair</option>
											<option value="lamia">Lamia</option>
											<option value="lammasu">Lammasu</option>
											<option value="land">Land</option>
											<option value="leech">Leech</option>
											<option value="legendary">Legendary</option>
											<option value="leviathan">Leviathan</option>
											<option value="lhurgoyf">Lhurgoyf</option>
											<option value="licid">Licid</option>
											<option value="liliana">Liliana</option>
											<option value="lizard">Lizard</option>
											<option value="locus">Locus</option>
											<option value="manticore">Manticore</option>
											<option value="master">Master</option>
											<option value="masticore">Masticore</option>
											<option value="mercenary">Mercenary</option>
											<option value="merfolk">Merfolk</option>
											<option value="metathran">Metathran</option>
											<option value="mine">Mine</option>
											<option value="minion">Minion</option>
											<option value="minotaur">Minotaur</option>
											<option value="mole">Mole</option>
											<option value="monger">Monger</option>
											<option value="mongoose">Mongoose</option>
											<option value="monk">Monk</option>
											<option value="monkey">Monkey</option>
											<option value="moonfolk">Moonfolk</option>
											<option value="mountain">Mountain</option>
											<option value="mutant">Mutant</option>
											<option value="myr">Myr</option>
											<option value="mystic">Mystic</option>
											<option value="naga">Naga</option>
											<option value="nahiri">Nahiri</option>
											<option value="narset">Narset</option>
											<option value="nautilus">Nautilus</option>
											<option value="nephilim">Nephilim</option>
											<option value="nightmare">Nightmare</option>
											<option value="nightstalker">Nightstalker</option>
											<option value="ninja">Ninja</option>
											<option value="nissa">Nissa</option>
											<option value="nixilis">Nixilis</option>
											<option value="noggle">Noggle</option>
											<option value="nomad">Nomad</option>
											<option value="nymph">Nymph</option>
											<option value="octopus">Octopus</option>
											<option value="ogre">Ogre</option>
											<option value="ongoing">Ongoing</option>
											<option value="ooze">Ooze</option>
											<option value="orb">Orb</option>
											<option value="orc">Orc</option>
											<option value="orgg">Orgg</option>
											<option value="ouphe">Ouphe</option>
											<option value="ox">Ox</option>
											<option value="oyster">Oyster</option>
											<option value="pegasus">Pegasus</option>
											<option value="pentavite">Pentavite</option>
											<option value="pest">Pest</option>
											<option value="phelddagrif">Phelddagrif</option>
											<option value="phenomenon">Phenomenon</option>
											<option value="phoenix">Phoenix</option>
											<option value="pilot">Pilot</option>
											<option value="pincher">Pincher</option>
											<option value="pirate">Pirate</option>
											<option value="plains">Plains</option>
											<option value="plane">Plane</option>
											<option value="planeswalker">Planeswalker</option>
											<option value="plant">Plant</option>
											<option value="power-plant">Power Plant</option>
											<option value="praetor">Praetor</option>
											<option value="prism">Prism</option>
											<option value="processor">Processor</option>
											<option value="rabbit">Rabbit</option>
											<option value="ral">Ral</option>
											<option value="rat">Rat</option>
											<option value="rebel">Rebel</option>
											<option value="reflection">Reflection</option>
											<option value="reveler">Reveler</option>
											<option value="rhino">Rhino</option>
											<option value="rigger">Rigger</option>
											<option value="rogue">Rogue</option>
											<option value="rukh">Rukh</option>
											<option value="sable">Sable</option>
											<option value="saheeli">Saheeli</option>
											<option value="salamander">Salamander</option>
											<option value="samurai">Samurai</option>
											<option value="samut">Samut</option>
											<option value="sand">Sand</option>
											<option value="saproling">Saproling</option>
											<option value="sarkhan">Sarkhan</option>
											<option value="satyr">Satyr</option>
											<option value="scarecrow">Scarecrow</option>
											<option value="scheme">Scheme</option>
											<option value="scion">Scion</option>
											<option value="scorpion">Scorpion</option>
											<option value="scout">Scout</option>
											<option value="serf">Serf</option>
											<option value="serpent">Serpent</option>
											<option value="servo">Servo</option>
											<option value="shade">Shade</option>
											<option value="shaman">Shaman</option>
											<option value="shapeshifter">Shapeshifter</option>
											<option value="sheep">Sheep</option>
											<option value="shrine">Shrine</option>
											<option value="siren">Siren</option>
											<option value="skeleton">Skeleton</option>
											<option value="slith">Slith</option>
											<option value="sliver">Sliver</option>
											<option value="slug">Slug</option>
											<option value="snake">Snake</option>
											<option value="snow">Snow</option>
											<option value="soldier">Soldier</option>
											<option value="soltari">Soltari</option>
											<option value="sorcery">Sorcery</option>
											<option value="sorin">Sorin</option>
											<option value="spawn">Spawn</option>
											<option value="specter">Specter</option>
											<option value="spellshaper">Spellshaper</option>
											<option value="sphinx">Sphinx</option>
											<option value="spider">Spider</option>
											<option value="spike">Spike</option>
											<option value="spirit">Spirit</option>
											<option value="splinter">Splinter</option>
											<option value="sponge">Sponge</option>
											<option value="squid">Squid</option>
											<option value="squirrel">Squirrel</option>
											<option value="starfish">Starfish</option>
											<option value="surrakar">Surrakar</option>
											<option value="survivor">Survivor</option>
											<option value="swamp">Swamp</option>
											<option value="tamiyo">Tamiyo</option>
											<option value="teferi">Teferi</option>
											<option value="tetravite">Tetravite</option>
											<option value="tezzeret">Tezzeret</option>
											<option value="thalakos">Thalakos</option>
											<option value="thopter">Thopter</option>
											<option value="thrull">Thrull</option>
											<option value="tibalt">Tibalt</option>
											<option value="token">Token</option>
											<option value="tower">Tower</option>
											<option value="trap">Trap</option>
											<option value="treasure">Treasure</option>
											<option value="treefolk">Treefolk</option>
											<option value="tribal">Tribal</option>
											<option value="trilobite">Trilobite</option>
											<option value="triskelavite">Triskelavite</option>
											<option value="troll">Troll</option>
											<option value="turtle">Turtle</option>
											<option value="ugin">Ugin</option>
											<option value="unicorn">Unicorn</option>
											<option value="urza’s">Urza’s</option>
											<option value="vampire">Vampire</option>
											<option value="vanguard">Vanguard</option>
											<option value="vedalken">Vedalken</option>
											<option value="vehicle">Vehicle</option>
											<option value="venser">Venser</option>
											<option value="viashino">Viashino</option>
											<option value="volver">Volver</option>
											<option value="vraska">Vraska</option>
											<option value="wall">Wall</option>
											<option value="warrior">Warrior</option>
											<option value="wasp">Wasp</option>
											<option value="weird">Weird</option>
											<option value="werewolf">Werewolf</option>
											<option value="whale">Whale</option>
											<option value="wizard">Wizard</option>
											<option value="wolf">Wolf</option>
											<option value="wolverine">Wolverine</option>
											<option value="wombat">Wombat</option>
											<option value="world">World</option>
											<option value="worm">Worm</option>
											<option value="wraith">Wraith</option>
											<option value="wurm">Wurm</option>
											<option value="xenagos">Xenagos</option>
											<option value="yeti">Yeti</option>
											<option value="zombie">Zombie</option>
											<option value="zubera">Zubera</option>
										</datalist>
									<br>
   									<label>Order results by
   										<br>
   										<br>
										<select name="order" class="custom-select">
											<option selected="selected" value="&order=name">Name</option>
											<option value="&order=usd">Price</option>
											<option value="&order=cmc">Converted mana cost</option>
											<option value="&order=edhrec">Rating</option>
										</select>
									</label>
								
									<br>	
									<input type="submit" class="btn-material-second" value="Submit">
							</form>
							</div>
						</div>
						</div>
					</div>
				</div>

      </div>
    </div>
  </div>
</div>
