<div class="container col-md-10 content-box">
	<div class="container-fluid">
		<h3 style="display: inline;"> <%=@deck.name%> </h3>
		<!-- options for the owner to interact with the deck -->
			<%if @user == @deck.user%>
				<div style="display: inline;" class="container">
					<a class="btn-material-second" href="/decks/<%=@deck.slug%>/edit">Edit</a>
					<a href="#" class="btn-material" data-toggle="modal" data-target="#deleteDeck" >Delete</a>
				</div>
			<%end%>
		 <h5>by <%=@deck.user.name%></h5>
	</div>
<!-- lists info about deck here -->
<hr>
		<h4>Description</h4>
		<p><%=@deck.display_text%></p>

		<div class="row justify-content-start">
			<div class="hover_img col-md-3">
				<h4>Creatures</h4>
				<%@deck.cards_of_type("creature").each do |card, amount|%>
					<%="#{amount}x "%><a href="/cards/<%=card.slug%>"> <%="#{card.name}"%> <span><img class="crop" src="<%=card.image_url%>" alt="<%=card.name%>" height="400" /></span></a><br>
				<%end%>	
			</div>

			<div class="hover_img col-md-3">
				<h4>Spells</h4>
				<%@deck.cards_of_type("spell").each do |card, amount|%>
					<%="#{amount}x "%><a href="/cards/<%=card.slug%>"> <%="#{card.name}"%> <span><img class="crop" src="<%=card.image_url%>" alt="<%=card.name%>" height="400" /></span></a><br>
				<%end%>
			</div>

			<div class="hover_img col-md-3">
					<h4>Lands</h4>
					<%@deck.cards_of_type("land").each do |card, amount|%>
						<%="#{amount}x "%><a href="/cards/<%=card.slug%>"> <%="#{card.name}"%> <span><img class="crop" src="<%=card.image_url%>" alt="<%=card.name%>" height="400" /></span></a><br>
					<%end%>	
			</div>
			
			<div class="hover_img col-md-3">
				<h4>Sideboard</h4>
				<%@deck.sideboard.card_hash.each do |card, amount|%>
					<%="#{amount}x "%><a href="/cards/<%=card.slug%>"> <%="#{card.name}"%> <span><img class="crop" src="<%=card.image_url%>" alt="<%=card.name%>" height="400" /></span></a><br>
				<%end%>
				<br>
			</div>
			<div class="col-md-3">
				<h5 style="display: inline;">Price</h5> <p style="display: inline;"><%=" $#{@deck.price}"%></p>
			</div>
		</div> <!-- END OF COLUMN -->
	</div> <!-- END OF  ROW -->
</div>
<br>

<div class="container col-md-10 content-box">
	<!-- these are all the comments -->
	<div>
		<h4 style="display: inline;">Comments</h4> <button type="button" data-toggle="modal" data-target="#leaveComment" style="display: inline;" class="btn btn-primary pull-right">Post a Comment</button>
	</div>
	
	<br>
	<%@deck.comments.each do |comment|%>
		<div class="container">
			<p><%=comment.content%></p>
			<p><%="-#{comment.user.name} #{comment.created_at.localtime.pretty}"%></p>
			<%if comment.user == @user%>
				<form method="post" action="/comments/<%=comment.id%>/edit">
					<input type="hidden" name="_method" value="DELETE">
					<button class="btn-material-second">Yes</button>
					<a href="#" class="btn-material" data-dismiss="modal">No</a>
				</form>
			<%end%>
		</div>
		<hr>
	<%end%>
</div>
<br>


<!-- Create new comment area-->	
<div class="modal fade" id="leaveComment" tabindex="-1" role="dialog" aria-labelledby="comment" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content content-box">
      <div class="modal-body">
		<div class="container">
				<div class="form-group">
					<form method="post" action="/comments/new">
					<input type="hidden" name="user" value="<%=@user.slug%>">
					<input type="hidden" name="deck" value="<%=@deck.slug%>">
					<textarea class="form-control" placeholder="New comment" name="comment"></textarea>
					<br>
					<button type="submit" class="btn-material-second">Add Comment</button>
				</form>
			</div>
		</div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteDeck" tabindex="-1" role="dialog" aria-labelledby="comment" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content content-box">
      <div class="modal-body">
		<div class="container">
				<div class="form-group">
					<h3>Are you sure you want to delete <%=@deck.name%>?</h3>
					<p>This action cannot be undone.</p>
					<form style="display: inline;" method="post" action="/decks/<%=@deck.slug%>/delete">
						<input type="hidden" name="_method" value="DELETE">
						<button class="btn-material-second">Yes</button>
						<a href="#" class="btn-material" data-dismiss="modal" >No</a>
					</form>
				</form>
			</div>
		</div>
      </div>
    </div>
  </div>
</div>



